*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(110, 136, 37);
}


#btn{
    display: inline-block;
    position: relative;
    margin: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    text-align: center;
    background-color: aquamarine;
    color: blue;
}

.manufacturer-list{
    list-style: none;
    border: 1px;
    margin: 1px;
}


.manufacturer-card{
    border-radius: 10px;
    margin-bottom: 1px;
    padding: 1.5rem;
    box-shadow: inset;
}

.manufacturer-card img{
    object-fit: contain;
    width: 80px;
    height: 80px;
}

.manufacturer-card a{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: rgb(78, 78, 78);
}

.manufacturer-card span{
    font-size: large;
    font-weight: 100;
}