*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(110, 136, 37);
}


#btn{
    display: inline-block;
    position: relative;
    margin: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    text-align: center;
    background-color: aquamarine;
    color: blue;
}


